.nav-container {
    background-color: rgb(24, 24, 24);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 1rem;
    font-family: Helvetica, Arial, sans-serif;
}

#home-button-container {
    line-height: 1.6rem;
}

#login-buttons-group {
    display: flex;
}

#demo-button {
    border: 2px;
    padding: 8px 34px;
    align-items: flex-start;
    box-sizing: border-box;
    display: inline-block;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 1.76px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    color: white;
    background-color: rgb(24, 24, 24);
    text-decoration: none;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    border-bottom-left-radius: 500px;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
}

#signup-button {
    border: 2px;
    padding: 8px 34px;
    align-items: flex-start;
    box-sizing: border-box;
    display: inline-block;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 1.76px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    color: white;
    background-color: rgb(24, 24, 24);
    text-decoration: none;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    border-bottom-left-radius: 500px;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
}

#login-button {
    border: 2px;
    padding: 8px 34px;
    align-items: flex-start;
    box-sizing: border-box;
    display: inline-block;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 1.76px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    color: rgb(24, 24, 24);
    background-color: white;
    text-decoration: none;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    border-bottom-left-radius: 500px;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
}