.signup-homelink {
    background-size:100%;
    display: inline-block;
    max-width: 100%;
    width: 200px;
    text-decoration:none;
    color:#222326;
    font-size: 28px;
    font-weight: 700;
}

.marketing-text {
    font-size:32px;
    font-weight:700;
    letter-spacing: -1.28px;
    text-align:center;
    color:black;
}

.signup-button-from-signup-container {
    display:flex;
    justify-content: space-around;
    margin-top:12px;
    margin-bottom:24px;
    box-sizing: border-box;
    text-align: center;
}

.signup-button-from-signup {
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
    letter-spacing: normal;
    font-weight: 700;
    background-color: transparent;
    border:0;
    border-radius: 500px;
    text-align: center;
    display: inline-block;
    position:relative;
    text-decoration: none;
    vertical-align: middle;
    align-self: center;
    padding:0;
    background-color: #1ed760;
    cursor:pointer;
}

.signup-button-from-signup:hover {
    background-color: #1fdf64;
}

.signup-button-inner-div {
    padding:16px 48px;
}