.side-bar {
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    margin: 0;
    position: relative;
    width: 242px;
    z-index: 3;
    line-height: 1.6;
    background-color: rgb(0,0,0);
    color: rgb(179,179,179);
    min-height: 0;
    grid-area: side-bar;
}
/* I could try to implement the adjustable width div */

.sidebar-container {
    display: flex;
    cursor: default;
    flex: 1;
    flex-direction: column;
    min-height: 0;
    padding-top:24px;
    box-sizing: border-box;
    width:100%;
    margin:0;
    color:#b3b3b3;
    cursor:default;
}

.logo-button-container {
    flex-direction: row;
    flex-shrink:0;
    justify-content: space-between;
    display:flex;
    border:0;
    margin:0;
    padding:0;
}

.boombox-logo-link {
    flex: 1;
    margin-bottom: 18px;
    padding: 0 24px;
    color:white;
    position:relative;
    text-decoration: none;
    box-sizing: border-box;
    cursor:pointer;
    font-size: 36px;
    font-weight: 700;
}

.sidebar-buttons-container {
    list-style: none;
    margin:0;
    padding:0;
    display:block;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px; */
    user-select: none;
    cursor:default;
}

.sidebar-item {
    padding: 0 8px;
    border:0;
    margin:0;
    box-sizing: border-box;
    display: list-item;
    list-style: none;
    cursor:default;
}

.sidebar-link {
    align-items: center;
    border-radius: 4px;
    cursor:pointer;
    display:flex;
    gap:16px;
    height:40px;
    padding:0 16px;
    user-select:none;
    text-decoration: none;
    box-sizing: border-box;
    color:#b3b3b3
}

.sidebar-link:hover {
    color:#fff;
}

.sidebar-link-icon {
    display:block;
    height:24px;
    width:24px;
    cursor:pointer;
    overflow: hidden;
}

/* .sidebar-link-icon:hover {
    color:#fff;
} */

.sidebar-link-text-span {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-size:14px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 16px;
    box-sizing: border-box;
}

/* .sidebar-link-text-span:hover {
    color:#fff;
} */

/* #playlists-subcontainer {
    border-top:1px solid darkgray;
    line-height: 2rem;
    font-weight: 500;
    font-size: .8rem;
} */

.rootlist-container {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    margin-top:24px;
    position:relative;
}

.rootlist-container-inner {
    flex:1;
    height:100%;
    display:flex;
    flex-direction: column;
    min-height: 0;
}

.rootlist-item {
    align-items: center;
    background-color: transparent;
    border:none;
    color:#b3b3b3;
    cursor: pointer;
    display:flex;
    min-height:max-content;
    padding:8px 24px;
    width:100%;
    box-sizing: border-box;
    /* align-items: center;
    border-radius: 4px;
    cursor:pointer;
    display:flex;
    gap:16px;
    height:40px;
    padding:0 16px;
    user-select:none;
    text-decoration: none;
    box-sizing: border-box; */
}

.rootlist-item:hover {
    color:white;
}

.rootlist-button-icon-container {
    margin-right: 16px;
    align-items: center;
    display: flex;
    flex-shrink:0;
    height:24px;
    justify-content: center;
    padding:4px;
    position:relative;
    width:24px;
    box-sizing: border-box;
    overflow: hidden;
    /* margin-right:16px;
    display:block;
    height:24px;
    width:24px;
    color:#b3b3b3;
    cursor:pointer;
    overflow: hidden; */
}

/* .rootlist-button-icon-container:hover {
    color:white;
} */

.rootlist-button-text-span {
    text-align: left;
    overflow:hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 16px;
    /* color:rgb(179,179,179); */
}
/* 
.rootlist-button-text-span:hover {
    color:white;
} */

.border-container {
    position:relative;
    display:block;
}

#hr {
    background-color: #282828;
    border:none;
    height:1px;
    margin: 8px 24px 0px 24px;
    min-height:1px;
    box-sizing: border-box;
    overflow:hidden;
}

#border-div {
    background:linear-gradient(180deg,rgba(0,0,0,.7),transparent);
    height:16px;
    bottom:-16px;
    left:0;
    right:0;
    position:absolute;
    z-index:1;
    box-sizing: border-box;
}

#playlists-container {
    height:100%;
    padding: 24px 0px 8px 0px;
    overflow:hidden;
    align-content: flex-start;
    align-items:flex-start;
    position:relative;
    border:0;
    margin:0;
    box-sizing: border-box;
    display:block;
    width:100%;
}

.playlist-item {
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    word-break: break-all;
    width:100%;
    cursor:pointer;
}

.playlist-item:hover {
    color:white;
}

.library-modal-top-div {
    z-index: 5;
    position: absolute;
    inset: 0 auto auto 0;
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
}

.library-modal-content-container {
    max-width: 336px;
    background-color: #0d72ea;
    border-radius: 8px;
    box-shadow:0 4px 40px rgb(0 0 0 / 30%);
    color:#fff;
    font-size:14px;
    line-height: 1.4;
    outline: 0;
    position: relative;
    text-align:start;
    transform:translate3d(183px, 139px, 0px);
}

.library-modal-content {
    padding:16px;
    position:relative;
    box-sizing: border-box;
}

.library-modal-content-inner-wrapper {
    max-width: 336px;
    min-width: 300px;
    position: relative;
    z-index: 1;
}

.library-modal-heading-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom:8px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.libary-modal-heading {
    margin:0;
    width:100%;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.library-modal-text-body {
    margin:0;
    white-space: pre-wrap;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height:16px;
}

.library-modal-button-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-top:24px;
}

.not-now-button {
    background-color:transparent;
    color:#fff;
    border:2px solid transparent;
    border-radius:500px;
    cursor:pointer;
    display:inline-block;
    font-size:12px;
    font-weight:700;
    letter-spacing: 1.76px;
    line-height: 18px;
    padding: 8px 34px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    box-sizing: border-box;
}

.login-button-from-library-modal {
    background-color:#1db954;
    color:#fff;
    border:2px solid transparent;
    border-radius:500px;
    cursor:pointer;
    display:inline-block;
    font-size:12px;
    font-weight:700;
    letter-spacing: 1.76px;
    line-height: 18px;
    padding: 8px 34px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    box-sizing: border-box;
}

.library-modal-arrow {
    position:absolute;
    top:0;
    transform: translate3d(0px, 12px, 0px);
    left:0;
    color:#0d72ea;
    height:16px;
    width:16px;
}

.library-modal-arrow::before {
    border-width: 8px 8px 8px 0;
    left:-7px;
    border-color:transparent #0d72ea transparent transparent;
    transform-origin: center right;
    border-style:solid;
    content: "";
    position:absolute;
}

.create-playlist-modal-content-container {
    max-width: 336px;
    background-color: #0d72ea;
    border-radius: 8px;
    box-shadow:0 4px 40px rgb(0 0 0 / 30%);
    color:#fff;
    font-size:14px;
    line-height: 1.4;
    outline: 0;
    position: relative;
    text-align:start;
    transform:translate3d(200px, 0, 0px);
}