.one-playlist-view {
    background-color: rgb(18,18,18);
    color: white;
    width: 80vw;
    height: 100vw
}

.playlist-title-tile-container {
    display:flex;
    gap: 1rem;
    padding-top: 24px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;
}

.playlist-image-container {
    height: 192px;
    width: 192px;
    overflow: hidden;
}

.playlist-image {
    height: 192px;
    width: 192px;
}

.playlist-stats {
    font-size: smaller;
}

#playlist-stats {
    color: rgb(179,179,179);
    font-weight: lighter;
}

.playlist-playbutton-section-container {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 32px;
    padding-left: 32px;
}

.playlist-table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: small;
    color: rgb(179, 179, 179);
}

.header {
    font-weight: bold;
}

.playlist-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding:1rem;
    gap: 10px;
}

.row-element {
    width: 100px
}

#title-in-row {
    color:white;
}
