#one-playlist-view {
    color: rgb(179, 179, 179);
    box-sizing: border-box;
    display:block;
    flex:1;
    min-height: 0;
    position: relative;
    /* overflow-y: scroll;
    scroll-behavior: smooth; */
}

#one-playlist-os-padding {
    overflow: hidden;
    position: absolute;
    height:auto;
    width:auto;
    z-index:0;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    overflow-y: scroll;
}

#one-playlist-os-content {
    padding:0;
    height:100%;
    width:100%;
    box-sizing: border-box;
    display: block;
    position: relative;
}

#one-playlist-main-view-container {
    min-height: calc(100vh - 64px - 90px - 519px);
    scroll-behavior: smooth;
    isolation: isolate;
    padding-bottom: 32px;
    box-sizing: border-box;
}

#one-playlist-main-section {
    margin-top:-64px;
}

.playlist-title-tile-container {
    /* display:flex;
    gap: 1rem;
    padding-top: 24px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px; */
    height: 30vh;
    max-height: 500px;
    min-height: 340px;
    color:#fff;
    display: flex;
    max-width: none;
    overflow: hidden;
    padding-bottom: 24px;
    position: relative;
    padding-top:0;
    padding-right: 32px;
    padding-left: 32px;
    margin:0;
    box-sizing: border-box;
}

.playlist-image-container {
    /* height: 192px;
    width: 192px;
    overflow: hidden; */
    align-self: flex-end;
    height:192px;
    margin-inline-end: 24px;
    min-width: 192px;
    width: 192px;
}

.playlist-image-container-2 {
    display: flex;
    height: inherit;
    position: relative;
}

.playlist-image-container-3 {
    height:100%;
    width:100%;
    display:block;
}

.playlist-image {
    height: 192px;
    width: 192px;
    box-shadow: 4px 60px rgb(0 0 0 / 50%);
    object-fit: cover;
    object-position: center center;
}

.playlist-image.editable {
    cursor:pointer;
}

.edit-playlist-image-screen {
    inset: 0;
    position: absolute;
}

.edit-playlist-image-screen-2 {
    height:100%;
    width:100%;
}

.edit-playlist-image-screen-button {
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    border: none;
    color:#fff;
    display: flex;
    justify-content: center;
    opacity: 0;
    padding:0;
    text-align: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.edit-playlist-image-screen-button:hover {
    opacity:1;
}

.edit-playlist-image-screen-button-inner-div {
    margin-top:16px;
}

.edit-playlist-image-screen-button-span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    border: 0;
    margin: 0;
    padding: 0;
}

.playlist-name-container {
    color:white;
}

.playlist-name-h1-editable:hover {
    cursor:pointer;
}

/* .playlist-stats {
    font-size: smaller;
} */

#playlist-stats {
    color: rgba(255,255,255,.7);
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none;
}

.username-link {
    color: white;
    text-decoration: none;
    display: inline-block;
}

.username-link:hover {
    text-decoration: underline;
}

#username-span {
    color:white;
}

.playlist-playbutton-section-container {
    /* display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 32px;
    padding-left: 32px;
    align-items:center */
    align-items:flex-start;
    display: flex;
    flex-direction: column;
    padding:24px 32px;
    position: relative;
    margin:0;
    max-width: 1955px;
    vertical-align: baseline;
    box-sizing: border-box;
    direction: inherit;
    visibility: visible;
    line-height: 1.6;
}

.action-bar-row {
    align-items:center;
    display: flex;
    flex-direction: row;
    width:100%;
    border:0;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.playlist-table {
    font-size: small;
    color: rgb(179, 179, 179);
    padding-left: 32px;
    padding-right: 32px;
}

.header {
    font-weight: bold;
}

.playlist-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist-song-row {
    border-radius: 4px;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    /* padding:4px; */
    height:56px;
}

.playlist-song-row:hover {
    background-color: rgb(40, 40, 40)
}

.row-element {
    width: 150px;
    display: flex;
    gap: 1rem;
}

#title-in-row {
    color:white;
}

.song-nav-dropdown-button {
    background-color:transparent;
    color:rgb(179, 179, 179);
    /* border-radius: 25%; */
    /* border: 1px solid rgb(179, 179, 179); */
    border:transparent;
    position:relative;
    transform: translateY(-4px);
    cursor:pointer;
}

.song-nav-dropdown-wrapper {
    z-index: 9999;
    position: absolute;
    margin: 0;
    box-sizing: border-box;
    right:0;
    transform: translate3d(-7rem, -11rem, 0)
}

.song-nav-dropdown {
    box-sizing: border-box;
    display: block;
}

.song-nav-menu-options-list {
    box-sizing: border-box;
    display: block;
    max-height: calc(100vh - 24px);
    max-width: 350px;
    min-width: 160px;
    overflow-y: auto;
    padding: 4px;
    background-color: rgb(40, 40, 40);
    border-radius: 4px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 8px rgba(0, 0, 0, .2);
}

.menu-list-item {
    box-sizing: border-box;
    display: list-item;
    text-align: left;
}

.menu-list-button {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin: 0;
    padding: 12px 8px 12px 8px;
    position: relative;
    width: 100%;
    color: rgba(255, 255, 255, .9);
    background: transparent;
    border: 0;
    border-radius: 2px;
    cursor: default;
    text-decoration: none;
    gap:8px;
    text-align: start;
    touch-action: manipulation;

}

.menu-list-button:hover {
    background: rgb(114, 114, 114)
}

.menu-button-text {
    box-sizing: border-box;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    color: rgba(255, 255, 255, .9);
}

.playlist-song-dropdown-wrapper {
    z-index: 9999;
    position: absolute;
    /* inset: 6rem 21rem auto auto; */
    margin: 0;
    box-sizing: border-box;
    right:0;
    transform: translate3d(-18rem, -11rem, 0);
}

.playlist-song-nav-dropdown {
    box-sizing: border-box;
    display: block;
}

.playlist-song-options-list {
    box-sizing: border-box;
    display: block;
    max-height: calc(100vh - 24px);
    max-width: 350px;
    min-width: 160px;
    overflow-y: auto;
    padding: 4px;
    background-color: rgb(40, 40, 40);
    border-radius: 4px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 8px rgba(0, 0, 0, .2);
}

.song-nav-link {
    color:rgb(179, 179, 179);
    text-decoration: none;
}

.song-nav-link:hover {
    text-decoration:underline;
}

.menu-link {
    color: rgba(255, 255, 255, .9);
    text-decoration: none;
}

.album-cover-container {
    height: 42px;
    width: 42px;
    overflow: hidden;
}

.table-album-cover {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center center;
}

.song-length-text {
    width: 25px;
    margin-right: 2rem;
}

.first-column {
    width: 250px;
    padding-left: 1rem;
}

.dummy-play-modal-top-div {
    display: flex;
    background-color: rgba(0,0,0,.9);
    bottom:0;
    left:0;
    right:0;
    top:0;
    position:fixed;
    z-index:104;
    border:0;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.dummy-play-modal-second-div {
    background-color: rgb(83, 83, 83);
    border-radius: 8px;
    justify-content: space-between;
    margin: auto;
    position: relative;
    background-image: linear-gradient(-170deg,rgba(0,0,0,.4),#282828);;
    bottom:0;
    left:0;
    right:0;
    top:0;
    display:flex;
    flex-flow: column;
}

.dummy-play-content-container {
    flex-flow:row;
    flex-grow:0;
    justify-content:center;
    padding:64px;
    width:810px;
    display:flex;
    bottom:0;
    left:0;
    box-sizing:border-box
}

.dummy-play-album-cover-container {
    display:flex;
    margin-left:0;
    margin-right:64px;
    min-height:168px;
}

.dummy-play-cover {
    max-width:300px;
    border-radius: 8px;
    display: block;
    margin:auto;
    object-fit: cover;
    object-position: center center;
}

.dummy-play-modal-text-container {
    flex: 0 0 45%;
    margin:0;
    padding:0;
    align-items: center;
    color:#fff;
    flex-flow:column;
    font-size: 32px;
    font-weight:700;
    line-height: 32px;
    max-width:304px;
    text-align:center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.dummy-play-heading {
    font-size: 28px;
    margin:8px 0 24px;
    color:#fff;
    font-weight: 700;
    letter-spacing: -.4px;
    line-height: normal;
    padding:0;
    display: block;
}

.dummy-play-signin-button {
    font-weight: 600;
    display: block;
    padding: 13px;
    width: 100%;
    background-color:#1db954;
    border: 2px solid transparent;
    border-radius: 500px;
    color:#fff;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 1.76px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    box-sizing: border-box;
}

.dummy-play-login-prompt {
    font-size: 12px;
    line-height: 24px;
    margin:32px 0 0;
    text-align:center;
}

.dummy-play-login-link {
    font-weight: 600;
    padding:0 10px;
    background-color: transparent;
    color:#fff;
    border:2px solid transparent;
    border-radius: 500px;
    cursor:pointer;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1.76px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    box-sizing: border-box;
}

.dummy-play-close-box {
    bottom: -56px;
    left: 0;
    position:absolute;
    margin-top:24px;
    width:100%;
    font-weight:400;
}

.dummy-play-close-button {
    background:none;
    border:none;
    color:#fff;
    display:block;
    font-weight: inherit;
    text-transform: none;
    padding: 13px;
    border-radius: 500px;
    cursor: pointer;
    font-size:12px;
    letter-spacing: 1.76px;
    line-height: 18px;
    text-align:center;
    white-space: nowrap;
    box-sizing: border-box;
    align-items: flex-start;
    width:100%;
}

.dummy-play-close-box:hover {
    font-weight:bold;
}

.song-number-span {
    cursor:pointer;
}

#playlist-play-button-from-one-playlist {
    color:#1db954;
    cursor:pointer;
}

.material-icons-outlined.md-48 {
    font-size: 54px;
}

.material-icons-outlined.md-36 {
    font-size: 36px;
}

.playlist-dropdown-button-container {
    height:36px;
}

.playlist-dropdown-button {
    background-color:inherit;
    color:rgb(179, 179, 179);
    /* border-radius: 25%; */
    /* border: 1px solid rgb(179, 179, 179); */
    margin:0;
    padding:0 0 0 1rem;
    border:0;
    cursor:pointer;
    height:36px;
}

.playlist-dropdown-wrapper {
    z-index: 9999;
    position: absolute;
    inset: 22.5rem auto auto 6.5rem;
    margin: 0;
    box-sizing: border-box;
    /* background-color: red; */
}

.following-button {
    margin-left:24px;
    margin-right: 24px;
    border-color:#fff;
    background-color: transparent;
    border-width:1px;
    border-style:solid;
    border-color:#fff;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .1em;
    line-height: 16px;
    padding: 7px 15px;
    text-align: center;
    text-transform: uppercase;
}

.playbutton-container {
    height: 54px;
    width: 54px;
}

/* .playbutton-container-2 {
    border:0;
    padding:0;
    margin:0;
    vertical-align: middle;
} */

#username-span {
    user-select: none;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none;
    color: #fff;
    text-decoration: none;
}

.findmore-button {
    background: none;
    border:none;
    color:#fff;
    display: block;
    margin:32px 16px 0 auto;
    padding:0;
    box-sizing: border-box;
}

.findmore-inner-div {
    font-size:12px;
    font-weight: 700;
    letter-spacing: .1rem;
    line-height: 16px;
    text-transform: uppercase;
}

.playlist-searchbox-container {
    border-top: 1px solid rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding: 24px 0;
    box-sizing: border-box;
}

.playlist-searchbox-content-container {
    display: inline-block;
    border:0;
    margin:0;
    padding:0;
}

.playlist-searchbox-h1 {
    color:#fff;
    margin: 0 0 16px 0;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.04rem;
    line-height: 28px;
    border:0;
    padding:0;
}

.playlist-searchbox-wrapper {
    position: relative;
}

.playlist-searchbox-input {
    background-color:rgba(255,255,255,.1);
    border:0;
    border-radius: 4px;
    color:rgba(255,255,255,.7);
    height:40px;
    opacity:1;
    padding:8px 32px;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    box-sizing: border-box;
    outline:none;
}

.playlist-searchbox-inner-div {
    align-items: center;
    bottom:0;
    display: flex;
    left:10px;
    opacity:1;
    pointer-events: none;
    position: absolute;
    right:10px;
    top:0;
    box-sizing: border-box;
}

.playlist-searchbox-span {
    color:rgba(255,255,255,.7);
    flex:1;
    border:0;
    margin:0;
    padding:0;
    line-height: 25.6px;
    display: block;
    height:18px;
}

.playlist-searchbox-clear-search-button {
    background-color: transparent;
    border:0;
    color:rgba(255,255,255,.7);
    padding:0;
    box-sizing: border-box;
    pointer-events: auto;
    height:18px;
}

.material-icons.md-18 {
    font-size: 18px;
    width:18px;
    height:18px;
}

.searchbox-close-button {
    margin-right:8px;
    background-color: transparent;
    border:0;
    color:rgba(255,255,255,.7);
    padding:0;
}

.playlist-inline-search-results {
    height: calc(60vh - 122px);
}

.playlist-inline-search-noresults {
    height: calc(60vh - 122px);
}

.playlist-search-result-row-2 {
    grid-template-columns: [first] 4fr [var1] 2fr [last] minmax(120px,1fr);
    border:1px solid transparent;
    border-radius: 4px;
    height:56px;
    position: relative;
    grid-gap:16px;
    display: grid;
    padding:0 16px;
    box-sizing: border-box;
}

.playlist-search-result-row-2:hover {
    background-color: rgba(255, 255, 255, .1);
}

.playlist-search-result-cell {
    justify-self: start;
    align-items: center;
    display: flex;
}

.playlist-search-result-pic-container {
    margin-right: 16px;
    margin-left: -8px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.playlist-search-result-pic-img {
    background-color: #282828;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center center;
    height: 40px;
    width: 40px;
    aspect-ratio: auto 40 / 40;
}

.playlist-search-result-titleartist-container {
    padding-right:8px;
    align-items: center;
    display: grid;
    grid-template:
        "title title"
        "subtitle subtitle"
        / auto 1fr;
}

.playlist-search-result-title {
    color:#fff;
    grid-area: title;
    justify-self: start;
    word-break:break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
}

.playlist-search-result-title-link {
    color:#fff;
    word-break:break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 24px;
    text-decoration: none;
}

.playlist-search-result-artist {
    color:#a7a7a7;
    grid-area:subtitle;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
}

.playlist-search-result-artist-link {
    color:#a7a7a7;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
}

.playlist-search-result-artist-link:hover {
    text-decoration: underline;
}

.playlist-search-result-album {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
}

.playlist-search-result-album-link {
    color:#b3b3b3;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
}

.playlist-search-result-album-link:hover {
    text-decoration: underline;
}

.playlist-search-result-cell-last {
    align-items: center;
    display: flex;
    grid-column: last;
    justify-self: end;
}

.playlist-search-result-add-button {
    background-color: transparent;
    border:1px solid #535353;
    border-radius: 500px;
    color:#fff;
    cursor:pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.76px;
    line-height: 18px;
    padding:8px 34px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    will-change: transform;
    box-sizing: border-box;
}

.playlist-search-result-add-button:hover {
    border-color: white;
}

.playlist-search-result-add-button-inner-span {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .1em;
    line-height: 16px;
    text-transform: uppercase;
}