.homepage-container {
    color:white;
    background-color: #121212;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 48px;
    overflow-y: scroll;
    right: 0;
}

.homepage-h1 {
    margin:0;
    margin-bottom:24px;
}

.homepage-h2 {
    margin:0;
    font-size:24px;
    font-weight:700;
    text-transform: none;
    color:#fff;
}


.playlist-row {
    display:flex;
    list-style-type: none;
    padding: 0;
    gap:1rem;
}

.playlist-container {
    display: flex;
    flex-direction: column;
}

/* .cover-pic-container {
    height: 165px;
    width: 165px;
    overflow:hidden;
} */

.playlist-cover {
    object-fit: cover;
    object-position: center center;
    height:100%;
    width:100%;
}

.playlist-link {
    cursor:pointer;
    color:white;
    padding: 0 16px;
    text-overflow: ellipsis;
}

.grid-container {
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
    gap: 24px; */
    list-style-type: none;
    padding: 0;
    gap:1rem;
}

/* .playlist-row {
    display:flex;
    list-style-type: none;
    padding: 0;
    gap:1rem;
} */

.grid-item {
  display: flex;
  flex-direction: column;
}

.cover-pic-container {
  max-width: 216px;
  padding: 16px;
  width:165px;
  overflow:hidden;
}

.homepage-row-container {
    display:flex;
    flex-direction: column;
    margin-bottom: 16px;
    min-height:300px;
    min-width:100%;
    position:relative;
    box-sizing: border-box;
}

.homepage-heading-container {
    width:100%;
}

.homepage-heading-second-container {
    align-items: flex-end;
    display: flex;
    margin-bottom:16px;
}

.homepage-heading-third-container {
    flex-grow:1;
    min-width: 0;
}

.homepage-grid {
    grid-auto-rows:0;
    grid-template-rows:1fr;
    overflow-y:hidden;
}

.homepage-session-user-name {
    color:rgb(179,179,179);
    margin-top:4px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-transform:none;
}