.homepage-container {
    color:white;
    background-color: #121212;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 24px;
}

.playlist-link {
    cursor:pointer;
    color:white;
}